<% include ./layout/public/header.ejs %>
<div class="panel panel-default">
  <div class="panel-heading">Iniciar sesión</div>
  <div class="panel-body">
    <form class="form-horizontal" id="loginForm" role="form" action="/api/users/login" method="post">
      <div class="form-group">
        <label for="username" class="col-sm-4 control-label">Nombre de usuario</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="username" name="username" placeholder="Nombre de usuario">
        </div>
      </div>
      <div class="form-group">
        <label for="password" class="col-sm-4 control-label">Contraseña</label>
        <div class="col-sm-8">
          <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-4">
          <div class="checkbox">
            <label>
              <input type="checkbox"/> Recordarme
            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-4">
          <div>
            <div class="col-sm-6">
              <button type="submit" class="btn btn-default" id="doLogin">Iniciar sesión</button>
            </div>
            <div class="col-sm-6">
              <img id="loadingImg" style="display:none;" src="/img/loading.gif" alt="cargando ..."/>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<% include ./layout/public/footer.ejs %>