		</div>
	</div>
	<div class="row">
		<div class="well">
			Footer
		</div>
	</div>
</div>
<script type="text/javascript" src="/js/lib/jquery/jquery.min.js"></script>
<script type="text/javascript" src="js/lib/noty/jquery.noty.js"></script>
<script type="text/javascript" src="js/lib/noty/layouts/top.js"></script>
<script type="text/javascript" src="js/lib/noty/themes/default.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$("#loginForm").submit(function(event){	
			var username=$("#username").val();
			var password=$("#password").val();
			$.ajax({
				type: "POST",
				url: "/api/users/login",
				data: "username="+username+"&password="+password,
			   	success: function(response){    
					window.location="/";
			   	},
			   	error: function(jqXHR, textStatus, errorThrown){
			   		if(jqXHR.status === 401){
			   			noty({text: 'Nombre de usuario o contraseña incorrectos', type: 'error'});
			   		}else{
			   			noty({text: errorThrown, type: 'error'});
			   		}
			   		
			   		$("#loadingImg").css('display', 'none', 'important');
			   	},
			   	beforeSend:function(){
			   		$.noty.closeAll();
					$("#loadingImg").css('display', 'inline', 'important');
			   	}
			});
			event.preventDefault();
		});
	});
</script>
</body>
</html>