<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link href="/css/bootstrap.css" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="fluid-container">
<div class="row">
	<div class="well">
		Header
	</div>
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-4">